}/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/*--------Custom Styles------*/

body {
	background: url("../images/pattern8-pattern-72c.png");
	font-size: 1em;
	text-align: center;
	font-family: "arial",sans-serif;
	font-family: 'Original Surfer', cursive;
}
.list-container {
	padding: 1em;
	margin: 3em auto;
	border: 2px solid rgb(160, 151, 88);
	width: 31.25em;
	background: white;
	border-radius: 15px;
	min-height: 23em;
}
h1 {
	color: #A04F2E;
	margin-bottom: 0.6875em;
	font-size: 3em;
}
input {
	border: 2px solid grey;
	width: 16em;
}
button {
	margin-left: 1em;
	border-radius: 2px;
	border:none;
	background-color: rgb(113, 207, 60);
	height: 21px;
	color: rgb(240, 240, 240);
}
li:hover {
	cursor:default;
}
button:hover, .checkbox:hover {
	cursor:pointer;
}

.error {
	margin: 0.31em auto -0.69em;
	text-align: left;
	font-family: "Arial", sans-serif;
	font-size: 0.75em;
	color: red;
	padding-left: 8em;
	display: none;
}

.list {
	list-style-type: none;
	text-align: left;
	font-size: 1.125em;
}

.checkbox {
	height: 0.9em;
	width: 0.9em;
	float: left;
	margin-right: 1em;
}

li.checked .checkbox{
	background: url("../images/checkedbox.png") no-repeat center;
}

li.unchecked .checkbox{
	background: url("../images/uncheckedbox.png") no-repeat center;
}
li.unchecked .checkbox, li.checked .checkbox{
	background-size: 0.8em;
}
.list li.checked, .list li.unchecked {
	margin:1.875em;
}

.list li.checked{
	text-decoration:line-through; 
}

.remove-item-btn{
	background: rgb(223, 74, 12);
	vertical-align: middle;
	padding: 0 2px;
	font-size: 0.5em;
	color: rgb(255, 255, 255);
	height: 12px;
}
.del-checked-items-btn {
	display: block;
	position: relative;
	left: 84px;
	top: 14px;
	padding: 0 2px;
	font-size: 0.75em;
	height: 18px;
	background-color: #DFDFDF;
}